.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    font-size: 1vmax;
    text-align: center;
    margin: 2vmax;
    height: 20vmax;
    width: 20vmax;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: beige;
}